name: Pull from test-2 repo
env:
  SOURCE_REPO: owner/repo
on:
  schedule:
    # Every Monday at 12am
    #- cron:  '0 0 * * 1'
    # for testing every 5th minute e.g 1:05, 1:10, 1:15...
    - cron: '1/5 * * * *'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Clone test-2
      uses: actions/checkout@v4
      with:
        repository: solovets/test-2
        path: zlo
    - name: Update
      if: env.exiting1 != 'true'
      run: |
        cd zlo
        cp -u "*.txt" ../
        cd ..
    - name: Check for changes
      run: |
        if git diff --quiet; then
          echo "No changes detected. Exiting."
          echo "exiting2=true" >> $GITHUB_ENV
        fi
    - name: Commit files
      if: env.exiting2 != 'true'
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add "*.txt"
        git commit -m "Add changes" -a
    - name: Push changes
      if: env.exiting2 != 'true'
      run: |
        git push
        fi