name: Pull from test-2 repo
env:
  USERNAME: ${{ github.actor }}
  ADDRESS_SUFFIX: users.noreply.github.com
  THE_SERVER: ${{ github.server_url }}
on:
  schedule:
    # Every Monday at 12am
    #- cron:  '0 0 * * 1'
    # for testing every 5th minute e.g 1:05, 1:10, 1:15...
    - cron: '1/5 * * * *'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Create date stamp
      id: stamp
      run: |
        echo "date_stamp=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Create changelog file
      run: |
        mkdir -p changelog
        cd changelog
        touch changelog-${{ steps.stamp.outputs.date_stamp }}.txt
        cd ..

    - name: Clone repo
      uses: actions/checkout@v4
      with:
        repository: solovets/test-2
        path: tmp

    - name: Update
      run: |
        cd tmp
        cp -u *.txt ../
        cd ..

    - name: Check for changes
      id: check
      run: |
        if git diff --quiet; then
          echo "No changes detected. Exiting."
          echo "exiting=true" >> $GITHUB_ENV
        else
          {
            echo "diff=$(git diff --name-only)<<EOF"
            echo EOF
          } >> $GITHUB_OUTPUT
        fi
      
    - name: Write down changes
      if: env.exiting != 'true'
      run: |
        printf "${{ steps.check.outputs.diff }}" >> changelog/changelog-${{ steps.stamp.outputs.date_stamp }}.txt

    - name: Commit files
      if: env.exiting != 'true'
      run: |
        git config --local user.email "$USERNAME@$ADDRESS_SUFFIX"
        git config --local user.name "$USERNAME"
        git add **/*.txt
        git commit -m "Add changes from $THE_SERVER/solovets/test-2" -a
  
    - name: Push changes
      if: env.exiting != 'true'
      run: |
        git push