name: Pull from test-2 repo

on:
  schedule:
    # Every Monday at 12am
    #- cron:  '0 0 * * 1'
    # for testing every 5th minute e.g 1:05, 1:10, 1:15...
    - cron: '1/5 * * * *'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Clone supercharge website repository
      uses: actions/checkout@v4

    - name: Clone test-2
      uses: actions/checkout@v4
      with:
        repository: solovets/test-2
        path: zlo
        sparse-checkout: |
          test1.txt
          test2.txt
        sparse-checkout-cone-mode: false
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "Add changes" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}